* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.loginbox {
  width: 550px;
  height: 850px;
  margin: 5% auto;
}

.loginbox form {
  text-align: center;
  width: 100%;
  height: 800px;
  background-color: #fff;
  padding: 60px;
  box-sizing: border-box;
}

.loginbox input {
  display: block;
  padding-left: 5px;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 auto;
  border-radius: 20px;
}

.loginbox ul {
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}

.loginbox li {
  display: inline-block;
  height: 12px;
  line-height: 12px;
}
.loginbox li:last-child {
  border-left: 1px solid #333;
  padding-left: 10px;
  margin-left: 4px;
}
.loginbox a {
  color: #333;
  font-size: 12px;
  position: relative;
  top: -2px;
}

#LoginClick {
  display: inline-block;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  display: inline-block;
}

#SignUp {
  margin: 100px auto;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(215, 215, 215);
  border-width: 0.5px;
}

#SignUp p {
  margin: 0 auto;
  padding: 30px;
  font-size: 12px;
}

#SignUp button {
  padding: 10px 20px;
  background-color: white;
  font-weight: bold;
  color: black;
  position: relative;
  display: inline-block;
  letter-spacing: 0;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
}

#SignUp button:hover,
#SignUp button:focus,
#SignUp button:active {
  letter-spacing: 5px;
}
#SignUp button:after,
#SignUp button:before {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  width: 0;
}
#SignUp button:hover:after,
#SignUp button:hover:before {
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}
#SignUp button:hover:before {
  bottom: auto;
  top: 0;
}
