@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);

html {
  scroll-behavior: smooth;
}
.kopubbatang * {
  font-family: "KoPub Batang", serif;
}
.top {
  font-size: 30px;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
header{
  z-index: 1;
}
.title {
  display: none;
  animation: fadeInDown 1s;
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 1;
}
.debon {
  font-size: 150px;
  margin-top: -30px;
}
.img_wrap{
  width: 100%;
  height: 800px;
}
.cycle-slideshow{
  z-index: 0;
}
.cycle-slideshow img{
  width: 100%;
  opacity: 0.5;
  height: 800px;
}
.scroll_down{
  position: relative;
  top: -200px;
}
#scroll{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f8ea;
}
.body {
  background-color: #f9f8ea;
  text-align: center;
}
.box {
  padding: 100px;
  background-color: white;
  margin-top: 100px;
  margin-left: 300px;
  width: 1000px;
  height: 500px;
}

.bg-1 {
  margin-top: 50px;
}
.col-1 {
  padding-top: 170px;
  padding-bottom: 100px;
}
.col-2 {
  padding-top: 180px;
  padding-bottom: 80px;
}
.input_field {
  margin-top: 10px;
  width: 100%;
}
#comment {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
}

.wrap {
  margin-top: 50px;
}
.first_wrap,
.second_wrap {
  width: 650px;
  height: 450px;
  float: left;
  overflow: hidden;
}
.mouseover_img {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#map {
  width: 500px;
  height: 400px;
  margin-left: 100px;
}
.inner_box {
  display: none;
  position: absolute;
  top: 80px;
  left: 130px;
  width: 400px;
  height: 300px;
  background-color: white;
  opacity: 0.7;
}

.vertical_hr {
  margin-top: 35px;
  height: 5vh;
  width: 0.1vw;
  border-width: 0;
  color: #000;
  background-color: #000;
}

hr {
  height: 2px;
}

footer{
  background-color: #f9f8ea;
}

/* Icon set - http://ionicons.com/ */
figure.snip1141 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  float: left;
  border-radius: 100px;
}

figure.snip1141 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1141 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.snip1141 .circle {
  position: relative;
  height: 55px;
  width: 55px;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
}

figure.snip1141 .circle:before,
figure.snip1141 .circle:after {
  border: 2px solid white;
  border-right-color: transparent;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1141 .circle:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

figure.snip1141 .circle:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

figure.snip1141 figcaption {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100%;
  overflow: hidden;
}

figure.snip1141 h2 {
  position: absolute;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 55px;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}

figure.snip1141 .icon {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

figure.snip1141 i {
  color: white;
  font-size: 48px;
  line-height: 55px;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1141 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1141:hover .circle,
figure.snip1141.hover .circle {
  background-color: rgba(0, 0, 0, 0);
}

figure.snip1141:hover .circle:before,
figure.snip1141.hover .circle:before,
figure.snip1141:hover .circle:after,
figure.snip1141.hover .circle:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.snip1141:hover h2,
figure.snip1141.hover h2 {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

figure.snip1141:hover img,
figure.snip1141.hover img {
  opacity: 0.35;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1141:hover i,
figure.snip1141.hover i {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#chart_div{
  margin-left: 120px;
  width: 1300px;
}

.container{
  margin-top: 100px;
  height: 500px;
}

#gantt{
  margin-top: 200px;
}