@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
body { background-color: #F9F8EA; font-family: 'KoPub Batang', serif;}
h1{ margin: 100px 0 0 46%; font-weight: bolder;}
.mypage{
    margin-top: 75px;
    margin-left: 150px;
    width: 80%;
}

.order_info {
    margin-bottom:  50px;
    padding: 35px 0 35px 0;
    border: 1px solid #e3e3e3;
    border-top: 1px solid #684745;
    text-align: center;
}

b {
    display: block;
    padding-bottom: 5px;
}

.order_info ol li strong {
    display: inline-block;  
    width: 50px;             height: 50px;
    padding-top: 30%;        text-align: center;
    color: #ffffff;        font-size: 16px;
    border-radius: 50%;      background-color: #684745;
}

.order_info ol li {
    display: inline-block;
    width: 7%;
    padding: 0 10px 0 30px;
    font-size: 13px;
    text-align: center;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th {
    padding: 9px 10px 10px 10px;
    text-align: center;
    border-top: 1px solid #999999;
    background: #684745;
    color: #f7f7f7;
}
td {
    height: 30px;
    padding: 15px 10px 15px 10px;
    color: #777777;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
}

.size { height: 125px; }
td:not(.no_line) { border-left: 1px solid #ebebeb; }
.ch_num{ width: 18%; }

button {
    margin-top: 40px;
    margin-left: 50%;
    background-color: #684745;
    color: white;
}