@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@keyframes fadeInDown {    /* 텍스트 내려오는 애니메이션*/
    0% { opacity: 0; transform: translate3d(0, -100%, 0); }
    to { opacity: 1; transform: translateZ(0); }
}
header { position: relative;}
h2 { font-size: 50px;  font-weight: bolder; font-family: 'KoPub Batang', serif;}
.title{
    display: none;  position: absolute;
    top: 400px;     left: 50px;
    animation: fadeInDown 1s;
}
.bg{
    background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/
    width:100%;  height:500px;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
    animation: fadeInDown 1s;
}

.img_wrap { width: 100%;}
.img_wrap img {
    display: none;  margin: 0;
    width: 100%;     height: 500px;
    background-blend-mode: darken;
}

a {  color: #37131E;  text-decoration: none; }
li { list-style: none; }
h3 {
    display: block;
    font-size: 1.17em;  font-weight: bold;
    margin-top: 100px;  padding-bottom: 10px;
}

#Sub-header {
    position: absolute;
    width: 100%;  height: 60px;
}
#Sub-header .home-btn {
    float: left;         width: 60px;
    text-align: center;  line-height: 60px;
    color: rgb(98, 62, 39);    background-color: #F9F8EA;
}
.home-icon {
    font-style: normal;  font-size: 24px;
    line-height: 1;      text-transform: none;
}
#Sub-header li a {
    display: block;  
    width: 200px;        line-height: 60px;
    text-align: center;  text-decoration: none;
    font-size: 16px;     font-weight: bold;
}
#Sub-header li.on a {
    background-color: rgb(98, 62, 39);   color: #F9F8EA;
}

#contentNews .content {
    text-align: center;  color: rgb(98, 62, 39);  
    font-size: 38px;     font-weight: 500;
    letter-spacing: -0.6px;
}
#contentNews.content_css:after {
    position: absolute; left: 50%;
    content: "";
    width: 45px; height: 3px; margin-left: -29px;
    background-color: #684745;
}

table {
    margin: 100px auto 100px auto;
    border-collapse: collapse; width: 70%;
  }
td, th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;  color: #37131E;  text-align: center;
}

.notice a { text-decoration: none; color:#684745;}
.notice{
    width:50%;          height:50px; 
    margin: 100px auto 100px auto; overflow:hidden; 
    border-top: solid 1px #684745;
    border-bottom: solid 1px #684745;}
.rolling{position:relative; width:100%; height:auto;}
.rolling li{width:100%; height:50px; line-height:50px;}