<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dessert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://raw.githubusercontent.com/tomma5o/touchMyRipple/master/dist/touchMyRipple.js"></script>
   
    <link rel="stylesheet" href="../static/css/custom.css"/>
    <script src="../static/js/custom.js"></script>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <script src="../static/js/header.js"></script>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <script src="../static/js/footer.js"></script>
</head>
<body>
    <header></header>
    <section id="page-start"></section>

    <div id="content">
        <h1>Custom your cake by your own</h1>
        <!-- button 색깔 바꾸기 -->
        <button type="button" id="start" class="btn" onclick="Start()">Start Now</button>
        <div id="middleArea">
            <div id="custom">
                <div class="wrapper">
                    <div id="circle"></div>
                </div>
            </div>
            <div class="select">
                <div class="check">
                    <span>Sheet of Cake</span>
                    <input type="radio" id="vanila" name="sheet"><label for="vanila">Vanila</label>
                    <input type="radio" id="choco" name="sheet"><label for="choco">Choco</label>
                </div>
                <div class="check">
                    <span>Size of Cake</span>
                    <input type="radio" id="middle" name="size"><label for="middle">中</label>
                    <input type="radio" id="large" name="size"><label for="large">大</label>
                </div>   
                <div class="check">
                    <span>Fruits</span>
                    <input type="radio" id="fruit_y" name="fruit"><label for="fruit_y">O</label>
                    <input type="radio" id="fruit_n" name="fruit"><label for="fruit_n">X</label>
                </div> 
                <div class="check">
                    <span>Place of the fruit</span>
                    <input type="radio" id="in" name="place"><label for="in">In</label>
                    <input type="radio" id="out" name="place"><label for="out">Out</label>
                    <input type="radio" id="both" name="place"><label for="both">Both</label>
                </div>
                <div class="check">
                    <span>Lettering</span>
                    <input type="radio" id="letter_y" name="letter"><label for="letter_y">O</label>
                    <input type="radio" id="letter_n" name="letter"><label for="letter_n">X</label>
                </div>
                <textarea id="text" placeholder="Medium size can be up to 10 words and Large size can be up to 15 words. :)"></textarea>
                <div class="button">
                    <button id="save" class="btn" onclick="save()">Save</button>
                    <button id="reset" class="btn" onclick="reset()">Reset</button>
                </div>
            </div>
        </div>
        

        <div class="fruits">
            <p>Select a fruit you want and move it into the circle!</p>
            <div class="container-fluid text-center bg-3">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-1" id="cream">
                        <img src="../static/src/cream.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('cream')">
                    </div>
                    <div class="col-sm-1" id="whipped-cream">
                        <img src="../static/src/whipped-cream.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('whipped-cream')" >
                    </div>
                    <div class="col-sm-1" id="grape">
                        <img src="../static/src/grape.png" style="position:absolute; left:0px; top:50px; cursor:pointer; cursor:hand; width:50px;" onmousedown="startDrag(event, this)" onclick="CreateImage('grape')">
                    </div>
                    <div class="col-sm-1" id="strawberries">
                        <img src="../static/src/strawberries.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('strawberries')">
                    </div>
                    <div class="col-sm-1" id="orange">
                        <img src="../static/src/orange.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('orange')">
                    </div>
                    <div class="col-sm-1" id="pineapple">
                        <img src="../static/src/pineapple.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('pineapple')">
                    </div>
                    <div class="col-sm-1" id="kiwi">
                        <img src="../static/src/kiwi.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('kiwi')">
                    </div>                       
                    <div class="col-sm-1" id="redberry">
                        <img src="../static/src/redberry.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('redberry')">
                    </div>
                    <div class="col-sm-1" id="blueberry">
                        <img src="../static/src/blueberry.png" style="position:absolute; left:0px; top:50px; width:50px; cursor:pointer; cursor:hand" onmousedown="startDrag(event, this)" onclick="CreateImage('blueberry')">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            <button id="submit" class="btn" onclick="submit()">Order</button>

        </div>
    
        <div id="footer">
            <footer ></footer>
        </div>

    </div>    

</body>
</html>