<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/Deliver.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Debon Deliver</title>
  </head>
  <body>
    <header></header>

    <div class="container">
      <table border="1">
        <caption>
          Shipping Information
        </caption>
        <caption>
          Required input<span class="asterisk">*</span>
        </caption>
        <colgroup width="700px">
          <col style="width: 18%" />
          <col style="width: 82%" />
        </colgroup>
        <tbody>
          <!-- 배송지 선택 -->
          <tr>
            <td>Shipping Destination</td>
            <td>
              <label
                ><input type="radio" name="deliverySite" value="userInfo" />회원
                Same as information</label
              >
              <label
                ><input type="radio" name="deliverySite" value="newInfo" />New
                Shipping Destination</label
              >
              <label>
                Recent Shipping Destinations:<input
                  type="radio"
                  name="user"
                  value="userName"
                  checked
                />Hong gil dong
              </label>
              <button class="showAddr">
                View Address Book <span class="leftAngle">></span>
              </button>
            </td>
            <!-- 받으시는 분 -->
          </tr>
          <tr>
            <td>Recipient<span class="asterisk">*</span></td>
            <td><input type="text" placeholder=" Hong gil dong" /></td>
          </tr>
          <!-- 주소 -->
          <tr>
            <td>Address<span class="asterisk">*</span></td>
            <td>
              <input type="text" placeholder="25495" />
              <button class="postNum">
                Postal code <span class="leftAngle">></span></button
              ><br />
              <label
                ><input
                  type="text"
                  placeholder="Cheongju-si, Chungcheongnam-do, 1..."
                  class="addr"
                />
                Basic address</label
              ><br />
              <label
                ><input
                  type="text"
                  placeholder="XXXroad XXX"
                  class="restAddr"
                />
                Remaining address (selectable input)</label
              >
            </td>
          </tr>
          <!-- 휴대전화 -->
          <tr>
            <td>Cell phone<span class="asterisk">*</span></td>
            <td>
              <select>
                <option>010</option>
                <option>031</option>
                <option>073</option>
                <option>02</option>
              </select>
              <span>-</span>
              <input type="text" placeholder="1234" class="phone1" />
              <input type="text" placeholder="5678" class="phone2" />
            </td>
          </tr>
          <!-- 이메일 -->
          <tr>
            <td>E-mail<span class="asterisk">*</span></td>
            <td>
              <input type="text" placeholder="abc" /> @
              <input type="text" placeholder="naver.com" />
              <select>
                <option>naver.com</option>
                <option>nate.com</option>
                <option>daum.net</option>
                <option>google.com</option>
              </select>
              <p>
                we are sending you the order process through email.<br />In the
                Email Address field, be sure to enter an acceptable email
                address.
              </p>
            </td>
          </tr>
          <!-- 배송메시지 -->
          <tr>
            <td>Delivery message</td>
            <td>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <section id="page-start"></section>
    <footer></footer>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/footer.js"></script>
  </body>
</html>
