<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Francise</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/francise.css" />

    <script>
      window.jQuery ||
        document.write(
          '<script src="http://jiyugaoka.co.kr/js/vendor/jquery-1.8.3.min.js"><\/script>'
        );
    </script>

    <script>
      $(function () {
        (dep1 = 04), (dep2 = 01);
        dep3 = "";

        if (dep1 == 2) {
          $("#contentInfoCon").css("display", "none");
          $(".pc-sub-menu").addClass("menu-move");
        }
      });
    </script>

    <link rel="stylesheet" href="../static/css/header.css" />
  </head>

  <body>
  <header></header>
    <div id="wrap">
      <section id="visual">
        <div class="visual-img-wrap">
          <div
            class="visual-img"
            style="
              background: #fff url(../static/src/img2.jpg) no-repeat 50% 0%;
            "
          ></div>
        </div>

        <div class="area visual-txt-con">
          <h2 class="visual-tit">FRANCHISE</h2>
          <p class="visual-sub-txt" style="transition-delay: 0.5s">
            We will guide you through the procedures for opening a franchise for
            Debon and counseling you on starting a business.
          </p>
        </div>

        <div class="pc-submenu-wrap">
          <div id="pcSubMenu">
            <div class="pc-sub-menu snb" style="float: left">
              <ul class="clearfix">
                <li>
                  <a href="../templates/franchise.html">Competitiveness</a>
                </li>

                <li>
                  <a href="../templates/counseling.html">Counseling</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <div id="middleArea">
        <div id="contentInfoCon">
          <h3 class="content-tit" style="text-align: center">
            Entrepreneurial Competitiveness
          </h3>
        </div>

        <section id="content">
          <div class="startup-content area">
            <div class="startup-wrap startup-left startup-big-wrap clearfix">
              <div class="startup-img">
                <img
                  src="../static/src/Francise_img1.jpg"
                  alt=""
                  width="400px"
                  height="400px"
                />
              </div>
              <div class="startup-info">
                <div class="startup-tit">
                  <span class="num">01</span>
                  <h3>
                    <span>Differentiated technology </span>
                    that corporate franchises can't keep up with
                  </h3>
                </div>
                <p class="line-txt">
                  Has quality discrimination and technical capabilities that
                  large companies and general franchises cannot keep up with
                </p>

                <p class="line-txt">
                  Awarded the industry's first customized dessert design method,
                  media introduction, and dessert development contest
                </p>
              </div>
            </div>
            <div class="startup-wrap startup-right clearfix">
              <div class="startup-img">
                <img src="../static/src/Francise_img2.jpg" alt="" />
              </div>
              <div class="startup-info">
                <div class="startup-tit">
                  <span class="num">02</span>
                  <h3>Domestic University Partnership</h3>
                </div>
                <p>
                  Debon is a trusted company that has partnered with <br />
                  leading domestic universities in recognition of <br />
                  its unique technology and differentiated competitiveness.
                </p>
                <a
                  href="https://software.cbnu.ac.kr/"
                  class="startup-btn main-btn square-noshadow"
                  >University</a
                >
              </div>
            </div>
            <div class="startup-wrap startup-left clearfix">
              <div class="startup-img">
                <img src="../static/src/Francise_img3.jpg" alt="" />
              </div>
              <div class="startup-info">
                <div class="startup-tit">
                  <span class="num">03</span>
                  <h3>Self-production/Distribution/Education</h3>
                </div>
                <p>
                  Debon is a dessert and bakery headquarters <br />
                  with its own production line, distribution network, <br />
                  and education system.
                </p>
              </div>
            </div>
            <div class="startup-wrap startup-right startup-big-wrap clearfix">
              <div class="startup-img">
                <img src="../static/src/Francise_img4.jpg" alt="" />
              </div>
              <div class="startup-info">
                <div class="startup-tit">
                  <span class="num">04</span>
                  <h3>Business/Competitive/Sustainability</h3>
                </div>
                <p class="line-txt">
                  Accurate business feasibility analysis to see <br />
                  if the business is of utility value in the domestic market
                  (tested directly at the store)
                </p>
                <p class="line-txt">
                  Debon's unique competitive edge that can dominate similar
                  industries <br />
                  (global corporate certification)
                </p>
                <p class="line-txt">
                  Debon's first store, which opened in 2022,
                  <br />is currently conducting advanced service research
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <a href="#wrap" class="to-top-btn">
        <img src="../static/src/top_btn.jpg" alt="top" />
        <p>TOP</p>
      </a>

      <div id="onlineRequest">
        <form name="online_form" method="post" enctype="multipart/form-data">
          <div class="online-request-btn">
            <p>Online Start-up Inquiry</p>
            <img src="../static/src/FrInquiry_btn1.png" alt="" />
          </div>
          <div class="online-request-info area">
            <div class="online-info clearfix">
              <div class="online-info-inner">
                <dl>
                  <dt>Name</dt>
                  <dd>
                    <input type="text" name="name" placeholder="Input name." />
                  </dd>
                </dl>
                <dl>
                  <dt>Contact information</dt>
                  <dd>
                    <input
                      type="text"
                      name="tel"
                      placeholder="ex) 02-1234-5678"
                    />
                  </dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd>
                    <input
                      type="text"
                      name="email"
                      placeholder="ex) Debon@naver.com"
                    />
                  </dd>
                </dl>
              </div>
              <div class="online-info-inner">
                <div class="online-memo">
                  <p class="online-tit">Contact details</p>
                  <textarea
                    name="content"
                    id=""
                    cols="30"
                    placeholder="(Please enter within 100 characters)"
                    maxlength="100"
                  ></textarea>
                </div>
              </div>
            </div>
            <a href="javascript:;" onClick="sendit2();">To inquire</a>
          </div>
        </form>
      </div>

      <script type="text/javascript">
        var submit2 = false;
        function sendit2() {
          var f = document.online_form;
          if (f.name.value == "") {
            alert("Please enter a name.");
            f.name.focus();
          } else if (f.tel.value == "") {
            alert("Please enter your contact information.");
            f.tel.focus();
          } else if (f.email.value == "") {
            alert("Please enter an email.");
            f.email.focus();
          } else if (f.content.value == "") {
            alert("Please enter your inquiry.");
            f.content.focus();
          } else {
            if (!submit2) {
              f.submit();
              submit2 = true;
            } else {
              return;
            }
          }
        }
      </script>
      <section id="page-start"></section>
    </div>
  <script src="../static/js/header.js"></script>
    <script src="../static/js/francise.js"></script>
  </body>
</html>
