<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Francise</title>

    <meta name="Title" content= Debon - FRANCHISE - 창업경쟁력" />
    <meta name="Subject" content="창업경쟁력" />
    <meta name="Author" content= Debon" /> <meta name="Keywords" content=
    Debon브레드,수제케이크,프리미엄베이커리" /> <meta name="Description"
    content= Debon브레드, 맛과 프리미엄의 대중화. 자체 R&amp;D연구소, 케익 특허,
    벤처기업 인증." />
    <meta name="Robots" content="INDEX,FOLLOW" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content= Debon - FRANCHISE - 창업경쟁력" /> <meta
    property="og:description" content= Debon브레드, 맛과 프리미엄의 대중화. 자체
    R&amp;D연구소, 케익 특허, 벤처기업 인증." />
    <meta
      property="og:image"
      content="http://jiyugaoka.co.kr/images/common/logo.png"
    />
    <meta
      property="og:url"
      content="http://jiyugaoka.co.kr/kr/franchise/startup.php"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content= Debon - FRANCHISE - 창업경쟁력" /> <meta
    name="twitter:description" content= Debon브레드, 맛과 프리미엄의 대중화.
    자체 R&amp;D연구소, 케익 특허, 벤처기업 인증." />
    <meta
      name="twitter:image"
      content="http://jiyugaoka.co.kr/images/common/logo.png"
    />
    <meta
      name="twitter:domain"
      content="http://jiyugaoka.co.kr/kr/franchise/startup.php"
    />
    <meta name="google-site-verification" content="" />
    <meta
      name="naver-site-verification"
      content="2985ef1276b212595102bf2991c5d6be802247f8"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 모바일사이트, 반응형사이트 제작시 사용 -->
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/reset.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/common.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/editor.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/layout.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/content.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/main.css" />
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/board.css" />
    <!-- 게시판 제작시 사용 -->
    <link
      rel="stylesheet"
      href="http://jiyugaoka.co.kr/css/board_responsive.css"
    />
    <!-- 게시판(반응형, 모바일) 제작시 사용 -->
    <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/member.css" />
    <!-- 회원관련 폼 제작시 사용 -->
    <link
      rel="stylesheet"
      href="http://jiyugaoka.co.kr/css/member_responsive.css"
    />
    <!-- 회원관련 폼(반응형, 모바일) 제작시 사용 -->
    <meta name="format-detection" content="telephone=no" />
    <!-- ios 자동전화걸기 방지 -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="http://jiyugaoka.co.kr/js/vendor/jquery-1.8.3.min.js"><\/script>'
        );
    </script>

    <!--[if lt IE 9]>
      <script src="http://jiyugaoka.co.kr/js/vendor/html5shiv.js"></script>
      <script src="http://jiyugaoka.co.kr/js/vendor/respond.min.js"></script>
      <link rel="stylesheet" href="http://jiyugaoka.co.kr/css/ie8.css" />
    <![endif]-->

    <script src="http://jiyugaoka.co.kr/js/vendor/jquery.easing.1.3.js"></script>
    <script src="http://jiyugaoka.co.kr/js/common.js"></script>
    <script src="http://jiyugaoka.co.kr/js/layer_popup.js"></script>
    <script src="http://jiyugaoka.co.kr/js/utile.js"></script>

    <!-- 아이콘폰트 -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- 메인비주얼 플러그인 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="http://jiyugaoka.co.kr/css/plugin/slick.css"
    />
    <script src="http://jiyugaoka.co.kr/js/plugin/slick.js"></script>
    <style>
      /* css */
    </style>
    <script>
      /* js */
    </script>
    <script>
      $(function () {
        (dep1 = 04), (dep2 = 01);

        // sub2_num 변수가 있을때 ( 3차메뉴 )
        dep3 = "";

        if (dep1 == 2) {
          $("#contentInfoCon").css("display", "none");
          $(".pc-sub-menu").addClass("menu-move");
        }

        //메뉴 클릭시 스크롤 효과
        $(".menu-move li a").click(function () {
          var goDiv =
            $($(this).attr("data-target")).offset().top - $("#header").height();
          $("html, body").animate({ scrollTop: goDiv }, 600, "swing");
        });
      });

      $(document).ready(function () {
        $("#visual").addClass("sub");
      });
    </script>
    <script
      type="text/javascript"
      src="http://jiyugaoka.co.kr/js/nav.js"
    ></script>
    <script
      type="text/javascript"
      src="http://jiyugaoka.co.kr/js/sub.js"
    ></script>
    <script>
      $(window).load(function () {
        $("#visual").addClass("active");
      });
    </script>
  </head>

  <body>
    <div class="cm-accessibility">
      <a href="#container">본문바로가기</a>
    </div>

    <!-- code -->
    <div id="wrap">
      <!-- container -->
      <div id="container">
        <!-- visual -->
        <section id="visual">
          <div class="visual-img-wrap">
            <div
              class="visual-img"
              style="
                background: #fff url(../static/src/img2.jpg) no-repeat 50% 0%;
              "
            ></div>
          </div>
          <div class="area visual-txt-con">
            <h2 class="visual-tit trans400 font-volk">FRANCHISE</h2>
            <p class="visual-sub-txt" style="transition-delay: 0.5s">
              Debon의 프랜차이즈 개설절차 및 창업상담 등을 안내해드립니다
            </p>
          </div>

          <aside class="trans300 pc-submenu-wrap">
            <div id="pcSubMenu" class="trans300">
              <div class="pc-sub-menu snb">
                <ul class="clearfix">
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/startup.php"
                      >창업경쟁력</a
                    >
                  </li>

                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/online.php"
                      >창업상담</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </aside>

          <!-- 서브메뉴 2 -->
          <aside id="topMenuCon">
            <div id="topMenu" class="cm-top-menu area clearfix">
              <!-- 1차메뉴 -->
              <div class="menu-location location1">
                <a href="javascript:;" class="cur-location">
                  <span>FRANCHISE</span>
                  <div class="arrow">
                    <img
                      src="http://jiyugaoka.co.kr/images/icon/sub_menu_icon.png"
                      alt=""
                    />
                  </div>
                </a>
                <ul class="location-menu-con">
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/brand/story.php"
                      >BRAND</a
                    >
                  </li>
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/menu/menu.php">MENU</a>
                  </li>
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/store/store.php"
                      >STORE</a
                    >
                  </li>
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/startup.php"
                      >FRANCHISE</a
                    >
                  </li>
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/news/broad.php">NEWS</a>
                  </li>
                </ul>
              </div>
              <!-- 2차메뉴 -->
              <div class="menu-location location2">
                <a href="javascript:;" class="cur-location">
                  <span>창업경쟁력</span>
                  <div class="arrow">
                    <img
                      src="http://jiyugaoka.co.kr/images/icon/sub_menu_icon.png"
                      alt=""
                    />
                  </div>
                </a>
                <ul class="location-menu-con">
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/startup.php"
                      >창업경쟁력</a
                    >
                  </li>

                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/online.php"
                      >창업상담</a
                    >
                  </li>
                  <li>
                    <a href="http://jiyugaoka.co.kr/kr/franchise/owner.php"
                      >점주공간</a
                    >
                  </li>
                </ul>
              </div>
              <a href="" class="sub-link-btn"
                ><i class="material-icons">&#xE157;</i>menu_b01</a
              >
            </div>
          </aside>
          <!-- // -->
        </section>
        <!-- //visual -->
        <!-- middleArea -->
        <div id="middleArea">
          <!-- 상단정보 (센터정렬) -->
          <aside id="contentInfoCon" class="content-info-style01">
            <h3 class="content-tit">창업경쟁력</h3>
          </aside>

          <!-- content -->
          <section id="content">
            <!-- 컨텐츠 내용 -->
            <article class="startup-content area">
              <div class="startup-wrap startup-left startup-big-wrap clearfix">
                <div class="startup-img">
                  <img
                    src="http://jiyugaoka.co.kr/images/content/startup_img_1.jpg"
                    alt=""
                  />
                </div>
                <div class="startup-info">
                  <div class="startup-tit">
                    <span class="num">01</span>
                    <h3>
                      기업형 프렌차이즈가 따라올 수 없는
                      <span>차별화된 기술력 </span>
                    </h3>
                  </div>
                  <p class="line-txt">
                    대기업이나 일반 프렌차이즈가 따라 올 수 없는 품질의 차별성과
                    기술력 보유
                  </p>
                  <p class="line-txt">
                    국내 업계 최초 벤처기업 및 한국산업기술진흥협회
                    기업부설연구소 설립 인증
                  </p>
                  <p class="line-txt">
                    업계 최초 케이크 시트 제조 관련 특허 취득, 천연 유산균
                    스폰지 발효공법, 각종 매스컴 소개 및 디저트 부문 콘테스트
                    수상
                  </p>
                </div>
              </div>
              <div class="startup-wrap startup-right clearfix">
                <div class="startup-img">
                  <img
                    src="http://jiyugaoka.co.kr/images/content/startup_img_2.jpg"
                    alt=""
                  />
                </div>
                <div class="startup-info">
                  <div class="startup-tit">
                    <span class="num">02</span>
                    <h3>글로벌 기업 제휴</h3>
                  </div>
                  <p>
                    Debon는 본사의 독보적인 기술력과<br />
                    별화된 경쟁력을 인정받아 유수의 글로벌 기업과<br />
                    제휴된 신뢰할 수 있는 회사입니다.
                  </p>
                  <a
                    href="http://jiyugaoka.co.kr/kr/brand/cooper.php"
                    class="startup-btn main-btn square-noshadow"
                    >협력사 보러가기</a
                  >
                </div>
              </div>
              <div class="startup-wrap startup-left clearfix">
                <div class="startup-img">
                  <img
                    src="http://jiyugaoka.co.kr/images/content/startup_img_3.jpg"
                    alt=""
                  />
                </div>
                <div class="startup-info">
                  <div class="startup-tit">
                    <span class="num">03</span>
                    <h3>자체 생산/유통/교육</h3>
                  </div>
                  <p>
                    경쟁력 낮은 제품을 저가에 납품 받아 판매하는<br />일반
                    프랜차이즈와 달리 Debon은 자체 생산라인과<br />유통망, 교육
                    시스템을 갖추고 있는 디저트&베이커리 본사입니다.
                  </p>
                </div>
              </div>
              <div class="startup-wrap startup-right startup-big-wrap clearfix">
                <div class="startup-img">
                  <img
                    src="http://jiyugaoka.co.kr/images/content/startup_img_4.jpg"
                    alt=""
                  />
                </div>
                <div class="startup-info">
                  <div class="startup-tit">
                    <span class="num">04</span>
                    <h3>사업성/경쟁력/지속성</h3>
                  </div>
                  <p class="line-txt">
                    국내 시장에서 효용가치가 있는 사업인지 정확한 사업성 분석
                    (직영점으로 테스트 완료)
                  </p>
                  <p class="line-txt">
                    동종업종에서 우위에 설 수 있는 Debon만의 차별화된 경쟁력
                    확보 (글로벌기업 인증)
                  </p>
                  <p class="line-txt">
                    2010년 오픈한 Debon의 첫 매장이 현재까지 성업, 유행을
                    타지않는 지속성 연구 (노하우 제공)
                  </p>
                </div>
              </div>
            </article>
            <!-- //컨텐츠 내용 -->
          </section>
          <!-- //content -->
        </div>
        <!-- //middleArea -->
      </div>
      <!-- //container -->
      <!-- footer -->
      <a href="#wrap" class="to-top-btn">
        <img
          src="http://jiyugaoka.co.kr/images/button/top_arrow.png"
          alt="top"
        />
        <p>TOP</p>
      </a>

      <div class="footer-wrap">
        <div class="footer-request">
          <article id="onlineRequest">
            <form
              action="http://jiyugaoka.co.kr/kr/include/online2_ok.php"
              name="online_form"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="online-request-btn">
                <p>온라인창업문의</p>
                <img
                  src="http://jiyugaoka.co.kr/images/button/open_arrow.png"
                  alt=""
                />
              </div>
              <div class="online-request-info area">
                <div class="online-info clearfix">
                  <div class="online-info-inner">
                    <dl>
                      <dt>이름</dt>
                      <dd>
                        <input
                          type="text"
                          name="name"
                          placeholder="이름을 입력해주세요."
                        />
                      </dd>
                    </dl>
                    <dl>
                      <dt>연락처</dt>
                      <dd>
                        <input
                          type="text"
                          name="tel"
                          placeholder="ex) 02-1522-9774"
                        />
                      </dd>
                    </dl>
                    <dl>
                      <dt>이메일</dt>
                      <dd>
                        <input
                          type="text"
                          name="email"
                          placeholder="ex) jiyoukaoka@naver.com"
                        />
                      </dd>
                    </dl>
                  </div>
                  <div class="online-info-inner">
                    <div class="online-memo">
                      <p class="online-tit">문의내용</p>
                      <textarea
                        name="content"
                        id=""
                        cols="30"
                        placeholder="(100자이내로 입력해주세요)"
                        maxlength="100"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <a href="javascript:;" onClick="sendit2();">문의하기</a>
              </div>
            </form>
          </article>
        </div>
      </div>

      <!-- 모달 레이어팝업 -->
      <article class="modal-fixed-pop-wrapper">
        <div class="modal-fixed-pop-inner">
          <div class="modal-loading"><span class="loading"></span></div>
          <div class="modal-inner-box">
            <div class="modal-inner-content">
              <!-- ajax 내용 -->
            </div>
          </div>
        </div>
      </article>

      <script type="text/javascript">
        var submit2 = false;
        function sendit2() {
          var f = document.online_form;
          if (f.name.value == "") {
            alert("이름을 입력해 주세요.");
            f.name.focus();
          } else if (f.tel.value == "") {
            alert("연락처를 입력해 주세요.");
            f.tel.focus();
          } else if (f.email.value == "") {
            alert("이메일을 입력해 주세요.");
            f.email.focus();
          } else if (f.content.value == "") {
            alert("문의내용을 입력해 주세요.");
            f.content.focus();
          } else {
            if (!submit2) {
              f.submit();
              submit2 = true;
            } else {
              return;
            }
          }
        }
        //-->
      </script>
      <!-- //footer -->
    </div>
    <!-- //code -->
  </body>
</html>
