<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dessert</title>
    <link rel="stylesheet" href="../static/css/mainPage.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <header></header>

    <div class="body">
      <div class="title">
        <p class="top">PREMIUM CAKE & TARTE</p>
        <h1 class="debon">DE BON</h1>
        <h3>High quality dessert cafe Debon</h3>
      </div>
      <section class="img_wrap">
        <div class="cycle-slideshow">
          <img src="../static/src/img1.png" alt="사진1">
          <img src="../static/src/img2.jpg" alt="사진2">
          <img src="../static/src/img3.jpg" alt="사진3">
          <img src="../static/src/img4.jpg" alt="사진4">
        </div>
        <a class="scroll_down" href="#page-start">
          <p id="scroll">SCROLL DOWN</p><br>
          <span class="glyphicon glyphicon-menu-down" style="color: black;"></span>
        </a>
      </section>

      <section id="page-start">
        <div class="box">
          <h3>GREETING</h3>
          <h1>HANDMADE DESSERT SHOP</h1>
          <h1>DE BON</h1>
          <hr />
          <p>
            I'm going to eat it and my parents will eat it.<br />
            It's a handmade dessert shop where you make desserts with all your heart.
          </p>
          <input type="button" value="more" onclick="pageMove()" />
        </div>

        <div class="container">
          <h2>Our Team</h2>
          <p>Introducing our team with a lot of passion</p>
          <table>
            <tr>
              <td>
                <figure class="snip1141" style="margin-left: 100px">
                  <img src="../static/src/jiwoo.jpg" alt="sq-sample27" data-toggle="collapse" data-target="#demo"/>
                  <figcaption>
                    <div class="circle"><i class="ion-ios-plus-empty"></i></div>
                    <h2>Oh Jiwoo</h2>
                    <div id="demo" class="collapse" style="margin-top: 20px;">
                      Role: <br>
                      - Main page <br>
                      - Brand page <br>
                      - Menu page <br>
                    </div>
                  </figcaption>
                </figure>
                <figure class="snip1141 hover">
                  <img src="../static/src/jiin.jpg" alt="sq-sample14" data-toggle="collapse" data-target="#demo2"/>
                  <figcaption>
                    <div class="circle"><i class="ion-ios-plus-empty"> </i></div>
                    <h2>Kim Jiin</h2>
                    <div id="demo2" class="collapse" style="margin-top: 20px;">
                      Role: <br>
                      - Custom page <br>
                      - News page <br>
                      - My page <br>
                    </div>
                  </figcaption>
                </figure>
                <figure class="snip1141">
                  <img src="../static/src/seongyon.png" alt="sq-sample17" data-toggle="collapse" data-target="#demo3"/>
                  <figcaption>
                    <div class="circle"><i class="ion-ios-plus-empty"> </i></div>
                    <h2>Kim Seongyon</h2>
                    <div id="demo3" class="collapse" style="margin-top: 20px;">
                      Role: <br>
                      - Login/Signup page <br>
                      - Franchise page <br>
                      - Server connection <br>
                    </div>
                  </figcaption>
                </figure>
              </td>
            </tr>
          </table>
        </div>

        <div class="gantt">
          <h2>Gantt Chart</h2>
          <p>This is a table showing our development schedule.</p>
          <div id="chart_div"></div>
        </div>

        <div style="margin-top: 100px;">
          <h2>PRODUCT</h2>
          <div class="wrap">
            <div class="first_wrap" style="margin-left: 110px">
              <div
                class="first_wrap"
                onmouseenter="zoomIn(event)"
                onmouseleave="zoomOut(event)"
              >
                <div class="inner_box">
                  <hr class="vertical_hr" />
                  <p>DE BON</p>
                  <h1 style="margin-top: -5px">
                    DESSERT<br />
                    TARTE
                  </h1>
                  <hr class="vertical_hr" />
                </div>
                <img
                  class="mouseover_img"
                  src="../static/src/img6.png"
                  alt="타르트"
                />
              </div>
            </div>
            <div class="second_wrap">
              <div
                class="second_wrap"
                onmouseenter="zoomIn(event)"
                onmouseleave="zoomOut(event)"
              >
                <div class="inner_box">
                  <hr class="vertical_hr" />
                  <p>DE BON</p>
                  <h1 style="margin-top: -5px">
                    DESSERT<br />
                    CAKE
                  </h1>
                  <hr class="vertical_hr" />
                </div>
                <img
                  class="mouseover_img"
                  src="../static/src/img7.jpg"
                  alt="케이크"
                />
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div class="container-fluid bg-1">
          <div class="row">
            <div class="col-sm-5 col-1">
              <div id="map"></div>
            </div>
            <div class="col-sm-7 col-2">
              <h1>Contact Us</h1>
              <h3>It's Debon who listens to customers.</h3>
              <form class="form-inline">
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      class="input_field"
                      type="text"
                      name="name"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      class="input_field"
                      type="email"
                      name="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input
                      id="comment"
                      type="text"
                      name="comment"
                      placeholder="ADD A CONTEXT"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <input type="submit" name="send" value="send" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="../static/js/header.js"></script>
    <script src="../static/js/mainPage.js"></script>
    <script src="../static/js/footer.js"></script>
    <script
      class="script_api"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=myMap"
    ></script>
  </body>
</html>
