<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dessert</title>
    <link rel="stylesheet" href="../static/css/mainPage.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.cycle2.min.js"></script>
  </head>
  <body>
    <header></header>

    <div class="body">
      <div class="title">
        <p class="top">PREMIUM CAKE & TARTE</p>
        <h1 class="debon">DE BON</h1>
        <h3>고품격 디저트 카페 드봉</h3>
      </div>
      <section class="img_wrap">
        <div class="cycle-slideshow">
          <img src="../static/src/img1.png" alt="사진1">
          <img src="../static/src/img5.jpg" alt="사진2">
          <img src="../static/src/img3.jpg" alt="사진3">
          <img src="../static/src/img4.jpg" alt="사진4">
        </div>
        <a class="scroll_down" href="#page-start">
          <p id="scroll">SCROLL DOWN</p><br>
          <span class="glyphicon glyphicon-menu-down" style="color: black;"></span>
        </a>
      </section>

      <section id="page-start">
        <div class="box">
          <h3>GREETING</h3>
          <h1>HANDMADE DESSERT SHOP</h1>
          <h1>DE BON</h1>
          <hr />
          <p>
            드봉은 내가 먹고, 부모님이 드신다는 마음으로<br />
            정성을 다해 디저트를 만드는 수제디저트 전문점입니다.
          </p>
          <input type="button" value="more" />
        </div>
        <hr />
        <h2>PRODUCT</h2>
        <div class="wrap">
          <div class="first_wrap" style="margin-left: 110px">
            <div
              class="first_wrap"
              onmouseenter="zoomIn(event)"
              onmouseleave="zoomOut(event)"
            >
              <div class="inner_box">
                <hr class="vertical_hr" />
                <p>DE BON</p>
                <h1 style="margin-top: -5px">
                  DESSERT<br />
                  TARTE
                </h1>
                <hr class="vertical_hr" />
              </div>
              <img
                class="mouseover_img"
                src="../static/src/img6.png"
                alt="타르트"
              />
            </div>
          </div>
          <div class="second_wrap">
            <div
              class="second_wrap"
              onmouseenter="zoomIn(event)"
              onmouseleave="zoomOut(event)"
            >
              <div class="inner_box">
                <hr class="vertical_hr" />
                <p>DE BON</p>
                <h1 style="margin-top: -5px">
                  DESSERT<br />
                  CAKE
                </h1>
                <hr class="vertical_hr" />
              </div>
              <img
                class="mouseover_img"
                src="../static/src/img7.jpg"
                alt="케이크"
              />
            </div>
          </div>
        </div>
        <hr />
        <div class="container-fluid bg-1">
          <div class="row">
            <div class="col-sm-5 col-1">
              <div id="map"></div>
            </div>
            <div class="col-sm-7 col-2">
              <h1>문의하기</h1>
              <h3>고객의 소리에 귀 기울이는 드봉이 되겠습니다.</h3>
              <form class="form-inline">
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      class="input_field"
                      type="text"
                      name="name"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      class="input_field"
                      type="email"
                      name="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input
                      id="comment"
                      type="text"
                      name="comment"
                      placeholder="ADD A CONTEXT"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <input type="submit" name="send" value="send" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="../static/js/header.js"></script>
    <script src="../static/js/mainPage.js"></script>
    <script src="../static/js/footer.js"></script>
    <script
      class="script_api"
      src="https://maps.googleapis.com/maps/api/js?key={YOUR_KEY}&callback=myMap"
    ></script>
  </body>
</html>
