<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dessert</title>
    <link rel="stylesheet" href="../static/css/mainPage.css"/>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>

    </header>

    <div class="body">
        <div class="title">
            <p class="top">PREMIUM CAKE & TARTE</p>
            <h1 class="debon">DE BON</h1>
            <h3>고품격 디저트 카페 드봉</h3>
        </div>
        <section class="img_wrap">
            <img src="../background.png" alt="배경">
        </section>
        <section class="page-start">
            <div class="box">
                <h3>GREETING</h3>
                <h1>HANDMADE DESSERT SHOP</h1>
                <h1>DE BON</h1>
                <hr>
                <p>드봉은 내가 먹고, 부모님이 드신다는 마음으로<br>
                    정성을 다해 디저트를 만드는 수제디저트 전문점입니다.</p>
                <input type="button" value="more">
            </div>
            <hr>
            <h2>PRODUCT</h2>
            <div class="wrap">
                <div class="first_wrap">
                    <img class="mouseover_img" src="../img2.png" alt="타르트">
                </div>
                <div class="second_wrap">
                    <img class="mouseover_img" src="../img3.jpg" alt="케이크">
                </div>
            </div>
            <hr>
            <div class="container-fluid bg-1">
                <div class="row">
                    <div class="col-sm-5 col-1">
                        <p>Contact us and we'll get back to you within 24 hours.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        Cheongju, South Korea <br>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        +00 1515151515 <br>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>
                        myemail@something.com <br>
                    </div>
                    <div class="col-sm-7 col-2">
                        <h1>CONTACT</h1>
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="input_field" type="text" name="name" placeholder="Name">
                                </div>
                                <div class="col-sm-6">
                                    <input class="input_field" type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input id="comment" type="text" name="comment" placeholder="Comment">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <input type="submit" name="send" value="send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer></footer>
    <script src="../static/js/header.js"></script>
</body>
</html>