<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Dessert</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header></header>
    <div class="wrap">
        <div class="img_wrap">
            <img class="scale" src="../static/src/img5.jpg" alt="배경사진"/>
        </div>
        <h1>DESSERT MENU</h1>
        <p>찾으시는 메뉴를 클릭해서 확인해보세요.</p>
    </div>

    <section id="page-start">
    </section>
    <footer></footer>

    <script src="../static/js/header.js"></script>
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/footer.js"></script>
</body>
</html>