<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dessert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://raw.githubusercontent.com/tomma5o/touchMyRipple/master/dist/touchMyRipple.js"></script>
   
    <link rel="stylesheet" href="../static/css/mypage.css"/>
    <script src="../static/js/mypage.js"></script>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <script src="../static/js/header.js"></script>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <script src="../static/js/footer.js"></script>
</head>
<body>
    <header></header>
    <section id="page-start"></section>

    <h1>MY PAGE</h1>
    <div class="mypage">
        <h3>Order Status</h3>
        <span>This is the order information in progress within the last 30 days.</span>
        <div class="order_info">
            <ol>
                <li><b>Checkout</b><strong>1</strong></li><!--입금대기-->
                <li><img src="../static/src/right-arrow.png" style="width: 50px;" float="left"></li>
                <li><b>Ordered</b><strong>0</strong></li><!--결제완료-->
                <li><img src="../static/src/right-arrow.png" style="width: 50px;" float="left"></li>
                <li><b>Processing</b><strong>0</strong></li><!--상품준비중-->
                <li><img src="../static/src/right-arrow.png" style="width: 50px;" float="left"></li>
                <li><b>Shipped</b><strong>0</strong></li><!--배송중-->
                <li><img src="../static/src/right-arrow.png" style="width: 50px;" float="left"></li>
                <li><b>Delivered</b><strong>0</strong></li><!--배송완료-->
                <li><img src="../static/src/right-arrow.png" style="width: 50px;" float="left"></li>
                <li><b>Complete</b><strong>3</strong></li><!--구매확정-->
            </ol>
        </div>

        <div class="order_table">
            <form>
                <table>
                    <colgroup>
                    <!--   체크박스            상품번호          상품명/옵션      수량                상품금액               할인/적립                    합계금액             배송비 -->
                    <col style="width:3%"><col style="width: 10%;"><col><col style="width: 8%;"><col style="width:10%"><col style="width:10%"><col style="width:10%"><col style="width:15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><div><input id="all" type="checkbox" onclick="check_all()"></div></th>
                            <th>Product No.</th><!--상품/옵션 정보-->
                            <th>Product/Option information</th><!--상품/옵션 정보-->
                            <th>Quantity</th><!--수량-->
                            <th>Cost</th><!--상품금액-->
                            <th>Sale/Collect</th><!--할인/적립-->
                            <th>Total</th><!--합계금액-->
                            <th>Shipping Fee</th><!--배송비-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="size">
                            <td class="no_line"><div><input type="checkbox" class="check"></div></td>
                            <td >17</td>
                            <td>Custom cake</td>
                            <td class="quantity">
                                <img class="ch_num" src="../static/src/minus.png" onclick="Count('minus')">
                                <span>&nbsp&nbsp</span><strong id="amount">1</strong><span>&nbsp&nbsp</span>
                                <img class="ch_num" src="../static/src/plus.png" onclick="Count('plus')">
                            </td>
                            <td>
                                <strong class="total">30</strong><span><strong>,000 ₩</strong></span>
                            </td>
                            <td class="option"></td>
                            <td>
                                <strong class="total">30</strong><span><strong>,000 ₩</strong></span>
                            </td>
                            <td class="ship" rowspan="1">
                                3,000 ₩ <br>
                                (Package-Advance)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="no_line"><strong>Product Cost <span class="total">30</span>,000 ₩ &nbsp+&nbsp Shipping fee 3,000 ₩ &nbsp=&nbsp Total <span id="total">33</span>,000 ₩</strong></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button id="reset" class="btn" onclick="buy()">Buy Now</button>

        </div>
    </div>
    
    
</body>