<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dessert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="../static/css/news.css"/>
    <script src="../static/js/news.js"></script>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <script src="../static/js/header.js"></script>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <script src="../static/js/footer.js"></script>
</head>
<body>
    <header class="header"></header>
    <div class="bg"></div>
    <div class="title">
        <h2 class>NEWS</h2>
        <p>Here's the announcement of DE BON.</p>
    </div>
    <div class="img_wrap">
        <img src="../static/src/news.jpg" id="image" alt="배경">
    </div>

    <div id="container">
        <div id="Sub-header">
            <a href="./mainPage.html" class="home-btn"><i class="home-icon">🏚</i></a>
            <li class="on"><a href="#">NEWS</a></li>
        </div>
    </div>
    <section id="page-start">
        <div class="notice">
            <ul class="rolling">
                <li><a href="#">The news board has opened.</a></li>
                <li><a href="#">Announcement related to order error</a></li>
            </ul>
        </div>
        <div id="middleArea">
            <!-- middleArea --><!-- 상단정보 (센터정렬) -->
			<aside id="contentNews" class="content_css">
				<h3 class="content">NEWS</h3>
			</aside>

            <table>
                <tr>
                    <th>NO.</th><th>Title</th> <th>Writer</th><th>Date</th><th>Views</th>
                </tr>
                <tr class="data" onclick='count(0)' onmouseover="mOver(this)" onmouseout="mOut(this)">
                    <td>2</td><td><a href="#contentNews">Announcement related to order error</a></td><td>Manager</td><td>2022.05.29</td><td class="result">0</td>
                </tr>
                <tr class="data" onclick='count(1)' onmouseover="mOver(this)" onmouseout="mOut(this)">
                    <td>1</td><td><a href="#contentNews">The news board has opened.</a></td><td>Manager</td><td>2022.05.29</td><td class="result">0</td>
                </tr>
            </table>
        </div>
        <footer></footer>
    </section>
</body>
</html>