<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dessert</title>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/news.css"/>
    <script src="../static/js/news.js"></script>
    <script src="../static/js/header.js"></script>
</head>
<body>

    <header class="header"></header>
    <div class="bg"></div>
    <div class="title">
        <h2 class>NEWS</h2>
        <p>드봉의 공지사항을 안내해드립니다.</p>
    </div>
    <div class="img_wrap">
        <img src="../static/src/news.jpg" id="image" alt="배경">
    </div>

    <div id="container">
        <div id="Sub-header">
            <a href="./mainPage.html" class="home-btn"><i class="home-icon">🏚</i></a>
            <li class="on"><a href="#">공지사항</a></li>
        </div>
    </div>
    <section class="page-start">
        <div class="notice">
            <ul class="rolling">
                <li><a href="#">공지사항 게시판이 오픈하였습니다.</a></li>
                <li><a href="#">주문 오류 관련 사항 안내</a></li>
            </ul>
        </div>
        <div id="middleArea">
            <!-- middleArea --><!-- 상단정보 (센터정렬) -->
			<aside id="contentNews" class="content_css">
				<h3 class="content">공지사항</h3>
			</aside>

            <table>
                <tr>
                    <th>번호</th><th>제목</th> <th>작성자</th><th>등록일</th><th>조회수</th>
                </tr>
                <tr class="data" onclick='count(0)'>
                    <td>2</td><td><a href="#contentNews">주문 오류 관련 사항 안내</a></td><td>관리자</td><td>2022.05.29</td><td class="result">10</td>
                </tr>
                <tr class="data" onclick='count(1)'>
                    <td>1</td><td><a href="#contentNews">공지사항 게시판이 오픈하였습니다.</a></td><td>관리자</td><td>2022.05.29</td><td class="result">10</td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>